main{
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    margin: 20px 10px;
    
}

#main {
    background-color: #FEF6F5;
    border: 2px solid #FEF6F5;
    border-radius: 30px;
    color: rgb(41, 24, 24);
}

img {
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

#img-div {
    background-color: white;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
}

#image {
    border-radius: 10px;
}

#image-caption {
    padding-top: 10px;
}


